/*
display	Mode d'affichage
float	Permet de faire "flotter" un élément.	
text-align	Alignement du texte
vertical-align	Alignement vertical du texte
line-height	Hauteur de la ligne
color et background-color 	Couleurs d'écritures et de fond
border(-*) 	Permet de rajouter des bordures aux éléments
margin(-*), padding(-*) 	Espacements extérieurs et intérieurs
:first-child 	Pseudo-classe premier fils
:hover 	Pseudo-classe survol du pointeur
:not 	Pseudo-classe de négation
*/


@media screen and (max-width:600px){
  .menu li{
    display: block;
    text-align:center;
  }
  .menu ul > li:first-child{
  text-align: center;
  margin-right:5px;
  margin-left:5px;
  float:none;
  text-align:center;
}
  .menu ul{
    margin-left:-40px
  }
}




li{
    display: inline;
}
.menu{
  background-color: #00AA99;
}
.menu a{
  color: #FFFFFF;
  text-decoration:none;
}
.menu ul > li:first-child{
  float: right;
  margin-right: 10%;
  border: 1px solid white;
  border-radius: 10%;
}

.menu a:hover{
  text-decoration:underline;
}



.menu a:first-child{
  
  
}